.login_section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
  }
  .login_section .imgbx {
    position: relative;
    width: 50%;
    height: 100%;
  }
  .login_section .imgbx:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: linear-gradient(225deg, #a1969a, #0f0c0f); */
    z-index: +1;
    mix-blend-mode: screen;
  }
  .login_section .imgbx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .login_section .contentBx {
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
  .login_section .contentBx .formBx {
    width: 50%;
  }
  .login_section .contentBx .formBx h2 {
    color: #000000;
  
    width: 125px;
    font-weight: 600;
    font-size: 1.5em;
  
    margin-bottom: 20px;
    border-left: 8px solid var(--crimson);
    display: inline-block;
    letter-spacing: 1px;
    text-align: center;
  }
  
  .login_section .contentBx .formBx .inputbx {
    margin-bottom: 20px;
  }
  
  .login_section .contentBx .formBx .inputbx span {
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
    color: #000000;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 1px;
  }
  .login_section .contentBx .formBx .inputbx input,
  button {
    width: 100%;
    padding: 10px 20px;
    outline: none;
    font-weight: 400;
    border: 1px solid var(--crimson);
    font-size: 16px;
    letter-spacing: 1px;
    color: #000000;
    background: transparent;
    border-radius: 5px;
  }
  .login_section .contentBx .formBx .inputbx button {
    width: 40%;
    background: var(--crimson);
    color: #fff;
    outline: none;
    border: none;
    font-weight: 500;
    border-radius: 20px;
    margin-top: 15px;
  }
  .login_section .contentBx .formBx .inputbx button:hover {
    background: #af1414;
  }
  .login_section .contentBx .formBx .remember {
    margin-bottom: 10px;
    color: #000000;
    font-weight: 400;
    font-size: 14px;
  }
  
  .login_section .contentBx .formBx .inputbx p {
    color: #000000;
  }
  
  .login_section .contentBx .formBx .inputbx p a {
    color: var(--crimson);
  }
  @media (max-width: 758px) {
    .login_section .imgbx {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    .login_section .contentBx {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      z-index: 1;
    }
    .login_section .contentBx .formBx {
      width: 100%;
      padding: 40px;
      background: rgb(255 255 255/0.9);
      margin: 50px;
    }
    .login_section .contentBx .formBx h3 {
      color: #607db8;
      text-align: center;
      margin: 30px 0 10px;
      font-weight: 500;
    }
  }