.CreateBlog_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 60px;
  width: 600px;
  height: 800px;
  margin: 20px 450px;
  border-radius: 10px;
  background-color: #f2f2f2;
  padding-right: 200px;
}
input[type="text"],
select,
.upload_file {
  width: 150%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 10px;
  resize: none;
}
.createBlog_btn {
  background-color: #1892f5;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.createBlog_btn:hover {
  background-color: #4187c0;
}
textarea {
  width: 150%;
  height: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 10px;
  resize: none;
}
.create_box h2 {
  color: #1892f5;
  padding-left: 10px;
  border-left: 5px solid rgb(0, 0, 0);
}
