.signUp-container{
    width: 100%;
    height: 78vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: var(--lighter-grey);
}

.hr{
    width: 100%;
    height: 0.5px;
    background: #111;
    margin: 10px 0;
}


.signUp-container .divForGen,
.signUp-container .divForUser{
    margin: 0 50px;
    width: 450px;
    height: 550px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    padding:40px 40px;
    border-radius: 40px;
}

.signUp-container .divForGen div,
.signUp-container .divForUser div
{
    margin-bottom: 50px;
    width: 100%;
}

.signUp-container .cardTitle{
    font-size: 1.2em;
    font-weight: 600;
    color: var(--lighter-black);
    margin-bottom: 8px;
    padding: 5px 20px;
    position: relative;
    display: block;
}

.signUp-container .cardTitle::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 8px;
    height: 100%;
}

.signUp-container .divForGen .cardTitle::before{
    background: var(--crimson);
}

.signUp-container .divForUser .cardTitle::before{
    background: var(--green);
}

.signUp-container .cardDescription{
    display: block;
    font-size: 0.9em;
    font-weight: 300;
}

.signUp-container form{
    width: 100%;
    height: 380px;
    padding: 0 10px;
    position: relative;
}

.signUp-container div form .input{
    width: 100%;
    height: 40px;
    position: relative;
    margin-bottom: 30px;
}


.signUp-container  form .input input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding: 0 5px;
    background: transparent;
}

.signUp-container .divForGen form .input input{
    border-bottom: 1px solid var(--crimson);
}

.signUp-container .divForUser form .input input{
    border-bottom: 1px solid var(--green);
}

.signUp-container div form .input input::placeholder{
    font-size: 1em;
    color: var(--lighter-black);
} 


.signUp-container div form .upload,
.signUp-container div form .submit{
    padding: 0 5px;
}

.signUp-container div form .upload span{
    display: block;
    font-size: 1em;
    margin-bottom: 5px;
}

.signUp-container div form .submit{
    position: absolute;
    bottom: -20px;
    left: 0;
}

.signUp-container div form .submit input{
    padding: 10px 30px;
    border: none;
    outline: none;
    color: var(--white);
    border-radius: 4px;
    text-transform: capitalize;
    cursor: pointer;
    
}

.signUp-container .divForGen form .submit input{
    background: var(--crimson);
}


.signUp-container .divForUser form .submit input{
    background: var(--green);
}