.preNavbar-container{
    padding: 10px 80px;
    background: var(--lighter-grey);    
    z-index: 200;
}

.preNavbar-container#active{
    background: var(--black);
    color: var(--white);
}

.web-logo,
.user-login-container,
.pages-navLink,
.moreBar-container{
    border-right: 1px solid var(--grey);
    height: 25px;
    padding: 0 20px;
}

.web-logo__img{
    width: 25px;
    height: 25px;
    margin-right: 5px;
}

.web-logo__name{
    font-size: 0.8em;
    font-weight: 600;
    margin-left: 5px;
}

.user-login-container{
    padding-right:40px ;
}

.user-login-container ion-icon{
    margin-right: 8px;
}

.preNavbar-container .navLink{
    font-size: 0.8em;
    font-weight: 500;
}

.preNavbar-navLink{
    position: relative;
}

.preNavbar-navLink::before,
.preNavbar-navLink#active::before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0%;
    height: 5px;
    background: #111;
    transition: 0.4s ease;
}

.preNavbar-navLink:hover:before,
.preNavbar-navLink#active::before{
    width: 100%;
}

.moreBar-container{
    width: 120px;
    cursor: pointer;
}




.moreBar-container ion-icon{
    font-size: 0.8em;
}

.searchNews-Input{
    padding: 0 20px;
    height: 25px;
    position: relative;
}

.searchNews-Input input{
    width: 100px;
    height: 100%;
    border: none;
    outline: none;
    padding: 2px 4px;
    border-radius: 2px;
    border-top-right-radius:0 ;
    border-bottom-right-radius:0 ;
}

.searchNews-Input__icon{
    width: 40px;
    height: 100%;
    background: var(--white);
    cursor: pointer;
}

.preNavbar-container#active .searchNews-Input__icon{
    background: var(--lighter-grey);
    color: var(--black);
}