.CBLink__container{
    position: fixed;
    bottom: 40px;
    right:40px ;
    width: 80px;
    height: 80px;
    border-radius: 50px;
    background: var(--lighter-grey);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    z-index: 100000;
}

.CBLink__container ion-icon{
    font-size: 2em;
    color: var(--crimson);
}